@page "/addMeal"

<PageTitle>freezerOrganizer</PageTitle>
<div id="mealPage">
<div id="addMeal">
<h3>Add Meal</h3>
<input class="inputField" placeholder="Meal" @bind="newMeal" /><br>
<input class="inputField" placeholder="Description" @bind="newDescription" /><br
<input type="number" class="inputField" placeholder="Meal Id" @bind="newMealId" 
<input class="inputField" type="date" @bind="newDate" format-value="yyyy-MM-dd" 
<br>
<div id="buttonSettings">
<input type="radio" name="size" value="small">
<label for="small">Small</label><br>
<input type="radio" name="size" value="medium">
<label for="medium">medium</label><br>
<input type="radio" name="size" value="large">
<label for="large">Large</label><br>

<input type="checkbox" name="compMeal" @bind="newCompleteMeal" />
<label for="compMeal">Complete meal</label><br>
</div>


<button id="addMealButton" @onclick="AddMealToList">Add meal</button>
</div>
<div id="mealList">
<h3>Meals (@meals.Count(meal => !meal.Alive))</h3>
<ul id=mealListList>
    @foreach (var meal in meals)
    {
            <li id="mealInList">
                <h4>@meal.Title | @meal.MealId</h4>
                <p>@meal.Description</p>
                Size Date: @meal.Date | @meal.completeMeal
                <button id="eatenButton" @onclick="@(e => RemoveMeal(meal))">Eat
            </li>
    }
</ul>
</div>
</div>

@code {
    private string? newMeal;
    private string? newDescription;
    private string? newSize;
    private bool newCompleteMeal;
    private bool newAlive;
    private int newMealId;
    private DateTime newDate = DateTime.Now;
    private List<MealItem> meals = new();

    private void AddMealToList()
    {
        if (!string.IsNullOrWhiteSpace(newMeal))
        {
            meals.Add(new MealItem { Title = newMeal, Description = newDescripti
            newMeal = string.Empty;
            newDescription = string.Empty;
        }
    }
    private void RemoveMeal(MealItem e){
        meals.Remove(e);
    }
}

